.record-wrap {
    background-color: #fff;
    padding: 10px;
}

.record-btn-wrap {
    margin-bottom: 10px;
    position: relative;
    .ant-btn {
        position: absolute;
        top: 4px;
        right: 0;
    }
}
.record-category-btn-wrap {
    text-align: right;
    margin-bottom: 10px;
}

.set-record-modal {
    .ant-form-item {
        margin-bottom: 10px;
    }
}

.record-add-modal {
    .ant-form-item {
        margin-bottom: 0px;
    }
}

.set-record-search {
    .ant-form-item {
        margin-bottom: 0px;
    }
    .ant-calendar-picker {
        text-align: left;
    }
}
#set-record-graph {
    width: 800px;
    height: 600px;
    margin-top: 20px;
}