.edit-wrap {
    padding: 20px;
    font-size: 12px;
    background-color: #f1f1f1;
}
.edit-wrap h3 {
    font-size: 16px;
    margin-bottom: 24px;
}
.CodeMirrorEditWrap .content{
    height: 550px;
    padding-bottom: 10px;
    position: relative;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius:5px;
    overflow: hidden;
    background-color: #fff;
}
.CodeMirrorEditWrap pre {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}
.CodeMirrorEditWrap .CodeMirror{
    width: 100%;
    height: 100%;
}
.CodeMirrorEditWrap .CodeMirror-gutter-elt {
    text-align: center;
}
.CodeMirrorEditWrap .CodeMirror-gutters {
    text-align: center;
    border-right:none;
    background-color: #fff;
}
.CodeMirrorEditWrap .CodeMirror-gutter{
    background-color: #fff;
}
#editor {
    width: 100%;
    height: 100%;
}

.form-select .select-label {
    position: absolute;
    top: 10px;
    left: 0;
}
.CodeMirrorEditWrap .ant-tabs-nav-scroll{
    background-color: #e8e8e8;
}
.CodeMirrorEditWrap .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background-color: #e8e8e8;
    border:none;
    color:#333;
}
.CodeMirrorEditWrap .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background-color: #fff;
    padding-bottom:3px;
    color:#1890ff;
}
.CodeMirrorEditWrap .CodeMirror-scroll {
    height:470px;
    font-size: 12px;
}
.CodeMirrorEditWrap .article-detail-content {
    padding:0 20px;
    height: 470px;
    overflow-y:auto;
}
.CodeMirrorEditWrap .article-detail {
    padding: 0;
}
.form-select .ant-form-item {
    margin-bottom: 15px;
}

.article-detail-content {
    ol {
        padding-left: 2em;
        li {
            list-style-type: decimal;
            margin-top: 0.4em;
            &:first-child {
                margin-top: 0;
            }
        }
        
    }
    pre {
        padding: 10px 20px;
        background: url("../../../images/blueprint.png") rgba(202, 203, 203, 0.1);
        border-radius: 5px;
    }
    img {
        display: block;
        width: 100%;
        cursor: pointer;
    }
    h2 {
        font-size: 1.75em;
        font-weight: 700;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 700;
    }
    blockquote {
        padding: 1em;
        color: #6a737d;
        background-color: rgba(202, 203, 203, 0.1);
        border-left: 0.25em solid #dfe2e5;
        p {
            margin: 0;
        }
    }
    a {
        color: #009a61;
        text-decoration: underline;
    }
}