.selftalking-wrap {
    padding-top: 20px;
    background-color: #e1e1e1;
}
.selftalking-content {
    width: 800px;
    margin: 0 auto;
    position: relative;
}
.selftalking-content-line {
    background-color: rgba(255, 255, 255,1);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 2px;
    margin-left: -2px;
}
.selftalking-content-ul {
    position: relative;
    li {
        position: relative;
        margin-bottom: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 24px;
        p {
            font-size: 14px;
        }
    }
}
.selftalking-content-text-left {
    span {
        position: absolute;
        top: 50%;
        left: 55%;
        background-color: #ff4081;
        padding: 3px 8px;
        transform: translateY(-50%);
        color:#fff;
        border-radius: 3px;
    }
    p {
        display: inline-block;
        width: 45%;
        margin: 0;
        padding: 10px 15px;
        text-align: center;
        background-color: rgba(255, 255, 255,1);
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(151, 151, 151, .58);
    }
    &::after {
        content:"";
        position: absolute;
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        margin-left: -4px;
        margin-top: -4px;
        background-color: #ff4081;
        border-radius:4px;
    }
}
.selftalking-content-text-right {
    padding-left: 55%;
    span {
        position: absolute;
        top: 50%;
        right: 55%;
        background-color: #ff4081;
        padding: 3px 8px;
        transform: translateY(-50%);
        color:#fff;
        border-radius: 3px;
    }
    p {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        text-align: center;
        background-color: rgba(255, 255, 255,1);
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(151, 151, 151, .58);
    }
    &::after {
        content:"";
        position: absolute;
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        margin-left: -4px;
        margin-top: -4px;
        background-color: #ff4081;
        border-radius:4px;
    }
}