.article-detail-warp {
    padding: 40px 0;
    padding-right: 300px;
    font-size: 12px;
    transition:padding .5s linear;
}
.article-detail {
    width: 900px;
    margin: 0 auto;
    .box-shadow {
        padding: 20px;
        box-shadow: 0 0 5px rgba(202,203,203,0.5);
    }
    .box-shadow-mb {
        margin-bottom: 2.5em;
    }
    .article-title {
        text-align: center;
        margin-bottom: 2.5rem;
        .item-title {
            font-size: 2.5em;
            margin-bottom: 1rem;
        }
        .item-author {
            font-size: 1.1em;
        }
    }
}
.article-aside-warp {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 300px;
    height: 100%;
    padding-top: 20px;
    // box-shadow: inset 0 2px 6px  rgba(34,34,34,1);
    background-color:  #222;
    transition:right .5s linear;
}
.article-detail-content {
    ol {
        padding-left: 2em;
        li {
            list-style-type: decimal;
            margin-top: 0.4em;
            &:first-child {
                margin-top: 0;
            }
        }
        
    }
    pre {
        padding: 10px 20px;
        background: url("../../images/blueprint.png") rgba(202, 203, 203, 0.1);
        border-radius: 5px;
    }
    img {
        display: block;
        width: 100%;
        cursor: pointer;
    }
    h2 {
        font-size: 1.75em;
        font-weight: 700;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 700;
    }
    blockquote {
        padding: 1em;
        color: #6a737d;
        background-color: rgba(202, 203, 203, 0.1);
        border-left: 0.25em solid #dfe2e5;
        p {
            margin: 0;
        }
    }
    a {
        color: #009a61;
        text-decoration: underline;
    }
}
.message-board {
    list-style: none;
    font-size: 13px;
    border-radius: 5px;
    li {
        width: 96%;
        margin: 0 auto;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAEUlEQVQIHWO4e/fufxBmgAIAWVEHLYEgi9EAAAAASUVORK5CYII=) repeat-x bottom;
        padding: 10px 0;
        line-height: 20px;
    }
    p {
        margin: 0;
        &:hover {
            .reply {
                display: inline;
            } 
        }
        .reply {
            display: none;
            margin-left: 20px;
            padding: 5px 8px;
            color: #00a8ff;
            cursor: pointer;
        }
    }
    .green {
        color: #009a61;
    }
}
.articl-aside-title {
    color:#999;
    font-size: 14px;
    width: 140px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
    span {
        display: inline-block;
        cursor: pointer;
        &:last-child {
            margin-left: 25px;
        }
        &:first-child {
            margin-left: 0;
        }
        &.active {
            color:#fff;
            text-decoration: underline #fff;
        }
        &:hover {
            text-decoration: underline #fff;
            color:#fff;
        }
    }
    

}
.articl-aside-ol {
    color:#999;
    padding: 0 20px;
    transition: all 500ms ease-in;
    .articl-aside-name {
        display: inline;
        cursor: pointer;
        &:hover {
            text-decoration: underline #fff;
            color:#fff;
        }
    }
    p {
        height: 1.5em;
        overflow: hidden;
    }
}
.article-aside-control {
    position: fixed;
    bottom: 40px;
    right: 30px;
    color:#fff ;
    text-align: center;
    .goTop {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 1rem;
        background-color: #222;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: inset 0 0 1px 1px  rgba(255,251,240,.2);
    }
    .goBack {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 1rem;
        background-color: #222;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: inset 0 0 1px 1px  rgba(255,251,240,.2);
    }
    .toggle {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #222;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        box-shadow: inset 0 0 1px 1px  rgba(255,251,240,.2);
        li {
            position: absolute;
            top: 0;
            left: 10%;
            width: 80%;
            transition: all .3s linear ;
            height: 2px;
            border-radius:1px;
            background-color: #fff;
        }
        .toggle-1 {
            transform-origin:50% 100%;
            top: 8px;
            &.action{
                transform:rotate(45deg);
                top:13px;
            }
        }
        .toggle-2 {
            top: 14px;
            &.action{
                display: none;
            }
        }
        .toggle-3 {
            top: 20px;
            &.action{
                transform:rotate(-45deg);
                top:13px;
            }
        }
    }
}
@media screen and (max-width: 1250px) {
    .article-detail-warp {
        padding-right: 250px;
    }
    .article-detail {
        width: 800px;
    }
    .article-aside-warp {
        width: 250px;
    }
}
@media screen and (max-width: 1100px) {
    .article-detail-warp {
        padding-right: 0;
    }
    .article-detail {
        width: 80%;
    }
    .article-aside-warp {
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .article-detail {
        width: 96%;
    }
}

.articl-aside-user {
    line-height: 32px;
    .author-image {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius:50%;
        border: 2px solid #fff;
    }
    .author-name {
        font-size: 24px;
        margin: 5px 0 0;
        text-align: center;
        color: #f5f5f5;
        font-weight: normal;    
        font-family: Offline,'PingFang SC','Microsoft YaHei',sans-serif;
    }
    .author-describe {
        text-align: center;
        color:#fff;
    }
}

/* tab动态增加动画 */
.message-enter {
    opacity: 0.01;
    transform: translateY(-10%);
  }
.message-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out;
}
.message-exit {
    opacity: 1;
    transform: translateY(0%);
}
.message-exit-active {
    opacity: 0.01;
    transform: translateY(-10%);
    transition: all 300ms ease-out;
}
  